<html style="font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
<head>
	
</head>
<body style="font-family: sans-serif; color: #222;margin: 0; font-size: 0.8em; line-height: 1.4;">
	<div class="container" style="width: 80%;max-width: 600px;margin: 0 auto;">
		<header>
			<h1 id="name">{{user_name}}</h1>

			<div class="contact">
				<div class="email">{{user_email}}</div>
			</div>
			
			<div id="designation">
				<span class="title">{{user_designation}}</span>
				<!--<span class="organization">Organization Name</span>-->
			</div>			
			
		</header>
		
		<div class="content">			
			
			<section id="Education">
				<h2 class="title" style="text-align:left;font-weight:bold;">Education</h2>
				<div class="description">
					<table style="width: 100%;border-collapse: collapse; border-spacing: 0;">
						<thead style="font-weight: bold;">
							<tr>
								<th>Duration</th>
								<th>Qualification</th>
								<th>Institute/School</th>
								<th>Result</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="border: 1px solid #ddd;padding: 2px;vertical-align: top;">abc</td>
								<td style="border: 1px solid #ddd;padding: 2px;vertical-align: top;">abc</td>
								<td style="border: 1px solid #ddd;padding: 2px;vertical-align: top;">abc</td>
								<td style="border: 1px solid #ddd;padding: 2px;vertical-align: top;">abc</td>
							</tr>
							<tr>
								<td style="border: 1px solid #ddd;padding: 2px;vertical-align: top;">abc</td>
								<td style="border: 1px solid #ddd;padding: 2px;vertical-align: top;">abc</td>
								<td style="border: 1px solid #ddd;padding: 2px;vertical-align: top;">abc</td>
								<td style="border: 1px solid #ddd;padding: 2px;vertical-align: top;">abc</td>
							</tr>					
						</tbody>
					</table>
				</div>
			</section>

			<section id="objective">
				<h2 class="title" style="text-align:left;font-weight:bold;">Objective</h2>
				<div class="description">
					<p>
						{{user_objective}}
					</p>			
				</div> <!-- end description -->
			</section>
				
			<section id="projects">
				<h2 class="title" style="text-align:left;font-weight:bold;">Projects Undertaken</h2>
				<div class="description">
					
					<!-- Project 1 -->
					<section class="project">
						<h3 class="title" style="margin-bottom: 0px;text-align:left;font-weight:bold;">Title of the project</h3>
						<div class="meta" style="font-size: 0.8em;">
							<span class="field">Project Field</span> <span class="date" style="float: right;">Aug 2010 - Nov2010</span>
						</div>
						<p class="description"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
					</section> <!-- end project description -->
					
					<!-- project 2 -->
					<section class="project">
						<h3 class="title" style="margin-bottom: 0px;text-align:left;font-weight:bold;">Title of the project</h3>
						<div class="meta" style="font-size: 0.8em;">
							<span class="field">Project Field</span> <span class="date" style="float: right;">Aug 2010 - Nov2010</span>
						</div>
						<p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
					</section> <!-- end project description -->


					<!-- project 3 -->
					<section class="project">
						<h3 class="title" style="margin-bottom: 0px;text-align:left;font-weight:bold;">Title of the project</h3>
						<div class="meta" style="font-size: 0.8em;">
							<span class="field">Project Field</span> <span class="date" style="float: right;">Aug 2010 - Nov2010</span>
						</div>
						<p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
					</section> <!-- end project description -->				
					
					</div> <!-- end description -->
			</section>	
		

			<!-- Training/ seminars -->
			
			
			
			<!-- Scholistics Achievements -->
			
			
			
			<!-- Technical Skills -->
			
			
			<!-- Extra-Curricular Activities -->
			
			
			<!-- Personal Informations -->
			
			
			<!-- References -->
			
			
			
			<!-- Declarations -->

		
			<!-- signatory -->
		
		
		
		
		</div> <!-- end main content -->

	
	</div> <!-- end container -->
</body>
</html>